<h2>illustration一覧</h2>
<% @illustrations.each do |illustration| %>
  <%= illustration.title %>
  <%= attachment_image_tag illustration, :image, :fill, 200, 200, class: "img-fluid rounded" %>
<% end %>
